.search-bar {
  &__container {
    display: block;
    background: white;
  }

  &__field {
    width: 100%;
   height: 2.5em;
   border: none;
  }

  &__button {
    border: none;
    padding: 0;
  }

  &__submit {
    background: url("search.svg") no-repeat center;
    background-size: contain;
    cursor: pointer;
    display: block;
    height: 1.3em;
    width: 30px;
    margin-bottom: -.3em;
  }
}
